// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#weather_plot{
    // width:600px;
    // height:250px;
}

div.buttons{
    margin: auto;
    display: block;
    text-align: center;
}

button.active{
    background-color: red;
}